{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}F1.5 Store{% endblock %}

{% block navbar %}
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/part3.css')}}"></head>
<header id="head">F1.5 Store</header>
    <nav id="navigationbar" >
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('home') }}">Home Product
			<a class="navbar-brand" href="{{ url_for('basket')}}">Basket</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
<body style="background-color:lightyellow">
	<div id="wrapper">
		<div id="otherleftcol">
		
		</div>
		<div id="otherrightcol"></div>
		<div id="othercenter">	
		{% if Transaction %}
			<h2 id="contenthead"> CHECKOUT</h2>
			<div>
			<table style="margin-left:auto;margin-right:auto">
				<form action="{{ url_for('checkout', finalprice=finalprice)}}" method="post">
				<tr>
					<th>Total</th>
					<th>£{{finalprice}}</th>
				</tr>
				<tr>
					<td><label for="Forename">Name on Card:</label> <input type="text" id="Forename" name="fname" placeholder="Forename" required size="20" pattern="[A-Za-z\s]{3,}" ></td>
					<td><label for="Lastname">Last Name:</label> <input type="text" id="Lastname" name="lname" placeholder="Last Name" required size="20" pattern="[A-Za-z\s]{2,}" ></td>
				</tr>
				<tr>
					<td><label for="CardNum">Card Number:</label> <input type="tel" inputmode="numeric" id="CardNum" name="CNum" placeholder="Card Number" pattern="[0-9\s]{16,16}" required ></td>
					<td><label for="SNum">Security Number:</label> <input type="tel" inputmode="numeric"id="SNum" name="lname" placeholder="CSV" pattern="[0-9\s]{3,3}" required  ></td>
				</tr>
				<tr>
					<td><label for="EMonth">Valid Until:</label> <input type="tel" inputmode="numeric"id="EMonth" name="ExMonth" placeholder="MM" pattern="[0-9\s]{2,2}" size="4" required  >/<input type="tel" inputmode="numeric"id="EYear" name="ExYear" placeholder="YY" pattern="[0-9\s]{2,2}" size="4" required  ></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit">Pay</button></td>
				</tr>
				</form>	
					
			</table>					
				
		{% endif %}
		
		{% if Appreciate %}
			<h1 style="text-align:center;color:green"> THANK YOU!!!!!!!!!!!</h1>
			
		{% endif %}
	
		
		
		
		
		
		
		</div>
	</div>
</body>	
{% endblock %}